 <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">QFXPlus</h5>
                <p class="grey-text text-lighten-4">This website is just for educational purpose and is not used for any other means. The names and graphics used in this website are subject to copyright. QFX Cinemas and QFXPlus has no connection whatsoever.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li>{{#link-to 'index' class="grey-text text-lighten-3"}}Home{{/link-to}}</li>
                  <li>{{#link-to 'about' class="grey-text text-lighten-3"}}About{{/link-to}}</li>
                  <li>{{#link-to 'contact' class="grey-text text-lighten-3"}}Contact{{/link-to}}</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright All Right Reserved
            <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
            </div>
          </div>
        </footer>
{{yield}}
