  <nav class='app-header z-depth-2'>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">&nbsp;QFX<span class="brand-first">Plus</span></a>
      <!-- <a href="#" data-activates="mobile-demo" class="button-collapse btn-floating btn-large waves-effect waves-light red"><i class="material-icons">menu</i></a> -->
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a> 
      <ul class="left-fix hide-on-med-and-down">
        <li>{{#link-to 'index'}}Home{{/link-to}}</li>
        <li><a href="badges.html">About</a></li>
        <li><a href="collapsible.html">Contact</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn" {{action 'login' }}>Login</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><img src="http://qfxcinemas.com/home/GetMobileAdImage?EventID=15" style="width:100%;"></li>
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    </div>
  </nav>
{{yield}}
