  
  <div class="carousel">
    <a class="carousel-item" href="#one!"><img src="http://www.qfxcinemas.com/Home/GetImage?EventID=6903"></a>
    <a class="carousel-item" href="#two!"><img src="http://www.qfxcinemas.com/Home/GetImage?EventID=6909"></a>
    <a class="carousel-item" href="#three!"><img src="http://www.qfxcinemas.com/Home/GetImage?EventID=6912"></a>
    <a class="carousel-item" href="#four!"><img src="http://www.qfxcinemas.com/Home/GetImage?EventID=6901"></a>
    <a class="carousel-item" href="#five!"><img src="http://www.qfxcinemas.com/Home/GetImage?EventID=6866"></a>
    <a class="carousel-item" href="#six!"><img src="http://www.qfxcinemas.com/Home/GetImage?EventID=6899"></a>
    <a class="carousel-item" href="#six!"><img src="http://www.qfxcinemas.com/Home/GetImage?EventID=6899"></a>
    <a class="carousel-item" href="#six!"><img src="http://www.qfxcinemas.com/Home/GetImage?EventID=6872"></a>
  </div>

{{yield}}
