<div class="video-wrapper">
        <div class="video-container">
            <iframe title="YouTube video player" type="text/html" 
            src="{{movie.youtubeurl}}"
            frameborder="0" allowFullScreen></iframe>
        </div>
</div>
{{yield}}
