/* header */
.app-header {
    background-color: white; 
}
.app-header a{
     color:black;
    text-decoration: none;
}

.app-header a:hover{
     color:#AA00FF;
     text-decoration: none;
}

.brand-first {
    color: #AA00FF;
}

.app-header li a {
    font-weight: bold;
}

.left-fix {
    margin-left: 150px;
}

.app-header .btn, .app-header .btn-large {
    background-color: #AA00FF;
    color:white;
}

.app-header .btn:hover, .app-header .btn-large:hover {
    background-color: #AA00FF;
    color:white;
}

/* header ends */

body {
    /* background-color: #ECEBD9; */
    background: #ECEBD9 url('images/background.jpg') top repeat-x; 
}


/* home sldier */

.carousel .carousel-item img {
    
}

/* home slider ends */


/* movie-list-card */

.list-category {
    display:inline-block;
    margin-top: 22px;
    margin-left: 16px; 
}

.list-category .list-title {
    font-size: 20px;
}

.card-panel {
    padding:0px 4px 0px 4px!important;
}

.movie-action a{
    color:#AA00FF!important;
}
.movie-action a:hover{
    color: #ffd8a6!important;
}

.show-list .card-title {
    line-height: 20px!important;
    font-size: 16px!important;
}

.rating-movie {
    color:#009688;
    font-size: 12px;
}

/* movie-list-card-ends */

/* footer */

footer.page-footer {
    background-color: #AA00FF; 
}

/* footer ends */



/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v19/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/*fallback ends */


/* youtube responsive */

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-wrapper {
   margin: 20px auto;
}

/* youtube responsive ends */

/* movie-detail-sidebar */

.movie-detail-sidebar {
    margin-top: 14px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.movie-detail-sidebar table {
    margin-top: 10px;
}

.movie-detail-sidebar td {
    padding: 0px;
}

/* movie-detail-sidebar ends */


/* comment component */

.material-comment textarea{
    border: 1px solid #DDDDDD;
    resize: none;
    min-height: 80px;
    height: 100%;
    margin-bottom: 8px;
}
.post-comment .btn{
    background-color: #64DD17;
    margin-top: 8px;
    color:white;
    font-weight: bold;
}

.comment-login{
    text-align: center;
}

.comment-login a{
    display: inline-block;
    padding:16px 0px; 
    cursor:pointer;
}

/* comment component ends */