/* header */
.app-header {
    background-color: white; 
}
.app-header a{
     color:black;
}

.app-header a:hover{
     color:#AA00FF;
     text-decoration: none;
}

.brand-first {
    color: #AA00FF;
}

.app-header li a {
    font-weight: bold;
}

.left-fix {
    margin-left: 150px;
}

.app-header .btn, .app-header .btn-large {
    background-color: #AA00FF;
    color:white;
}

.app-header .btn:hover, .app-header .btn-large:hover {
    background-color: #AA00FF;
    color:white;
}

/* header ends */


body {
    /* background-color: #ECEBD9; */
    background: #ECEBD9 url('../images/background.jpg') top repeat-x;
}

/* home sldier */

.carousel .carousel-item img {
    
}

/* home slider ends */


/* movie-list-card */

.list-category {
    display:inline-block;
    margin-top: 22px;
    margin-left: 16px; 
}

.list-category .list-title {
    font-size: 20px;
}

.card-panel {
    padding:0px 4px 0px 4px!important;
}

.card a{
    color:#AA00FF!important;
}
.card a:hover{
    color: #ffd8a6!important;
}

.card-title {
    line-height: 20px!important;
    font-size: 16px!important;
}

/* movie-list-card-ends */

/* footer */

footer.page-footer {
    background-color: #AA00FF; 
}

/* footer ends */



/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v19/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}