 
<div class="row" style="margin-top: 26px;">
        <div class="col-md-6 col-md-offset-3">
            <div class="card horizontal">
            <div class="card-image">
                <img src="https://avatars3.githubusercontent.com/u/11189958?v=3&s=460">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h4>Sabin Bajracharya</h4>
                <p>I code during my free time. Getting my hands dirty with new programming languages and building software, mobile, and web applications is what I like to do. If I am not coding then I am watching football.</p>
                </div>
                <div class="card-action">
                <a href="https://www.linkedin.com/in/sabin-bajracharya-5644aa35">@LinkeIn</a>    
                <a href="https://www.facebook.com/therealsabin">@facebook</a>
                <a href="https://github.com/sabinbajracharya">@github</a>
                <a href="https://twitter.com/sabincruz">@twitter</a>
                </div>
            </div>
            </div>
        </div>
            
</div>
